@import "./variables.scss";

.page {
  min-height: 100vh;
  background-color: $backgroundColor;
  padding-top: 110px;
  padding-inline: 65px;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__countries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }
}