$blueColor: #0079ff;
$hoveredColor: #60abff;
$blackColor: #111517;
$redColor: #f74646;
$backgroundColor: #fafafa;
$whiteColor: #fff;
$grayColor: #f0f0f0;
$boxShadow: 0 0 6px rgba(0,0,0,.08);
$headerShadow: 0 4px 4px rgba(0,0,0,.08);

