@import "../../styles/variables.scss";

.select {
  background-color: $whiteColor;
  box-shadow: $boxShadow;
  width: 200px;
  border-radius: 10px;
  position: relative;
  
  &__header {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 30px;
    font-weight: 600;

    &:hover {
      cursor: pointer;
    }
  }

  &__list {
    list-style: none;
    position: absolute;
    z-index: 10;
    background-color: $whiteColor;
    box-shadow: $boxShadow;
    width: 200px;
    border-radius: 10px;
    margin-top: 15px;
  }
  
  &__option {
    margin-bottom: 6px;
    padding-inline: 30px;
    height: 32px;
    display: flex;
    align-items: center;

    transition: background-color 0.3s;

    &:hover {
      cursor: pointer;
      background-color: $grayColor;
    }
  }
}